#outerHBox {
    -fx-max-width: 800.0;
    -fx-pref-width: 800.0;
    -fx-max-height: 510.0;
    -fx-pref-height: 510.0;
    -fx-background-color: #d3dbe8;
    -fx-padding: 0;
    -fx-spacing: 10;
}

#boardNameLabel {
    -fx-font-size: 30px;
}

#newListButton {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}
