@import url(./Common.css);

#cardOverview {
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#deleteButton {
    -fx-background-color: transparent;
    -fx-border-style: none;
}

#deleteButton:hover {
    -fx-cursor: hand;
}

.vbox, .hbox {
    -fx-spacing: 10;
}

.flow-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.progress-bar:disabled {
    -fx-opacity: 1;
}

.progress-bar .bar {
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

#subtaskProgress > .track {
    -fx-background-insets: 0;
}
