@import url(./Common.css);

#cardPopup {
    -fx-background-color: -fx-color-background-light;
    -fx-padding: 30;
}

.remove-subtask-button {
    -fx-translate-y: -2;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.subtask-checkbox {
    -fx-translate-y: 3;
    -fx-translate-x: 3;
    -fx-background-color: red;
}

.remove-tag-button {
    -fx-translate-y: -2;
    -fx-translate-x: 3;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tag {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-color: black;
}

.tag-text {
    -fx-translate-y: 4;
    -fx-translate-x: 6;
}

.tag-HBox {
    -fx-spacing: 5;
}

.button:hover {
    -fx-cursor: hand;
}

.check-box:hover {
    -fx-cursor: hand;
}

/* These two remove the arrow from the MenuButton for adding tags */
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.flow-pane {
    -fx-padding: 5;
    -fx-hgap: 5;
    -fx-vgap: 5;
}
