* {
    -fx-color-background-light: rgb(247, 255, 249);
    -fx-color-background-dark: rgb(236, 241, 239);
    -fx-color-foreground-accent: rgb(26, 255, 105);
}

* {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13;
}

.hbox {
    -fx-spacing: 5;
}

.vbox {
    -fx-spacing: 10;
}

.deleteButton {
    -fx-background-color: rgb(255, 97, 97);
}

.separator .line {
    -fx-border-color: #626262;
    -fx-border-width: 1;
}

.flow-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}
