.root {
    -fx-color-background-light: rgb(247, 255, 249);
    -fx-color-background-dark: rgb(181, 217, 191);
    -fx-color-foreground-accent: rgb(26, 255, 105);
    -fx-padding: 0;
    -fx-font-family: Verdana;
}