@import url(Common.css);

#cardPopup {
    -fx-background-color: -fx-color-background-light;
    -fx-padding: 30;
}

#addSubtask {
    -fx-background-color: -fx-color-background-light;
    -fx-border-style: none;
}

.remove-subtask-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.remove-tag-button {
    /*-fx-translate-y: -5;*/
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tag {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-color: black;
}

.vbox {
    -fx-spacing: 5;
    -webkit-flex-wrap: wrap;
}

.invalid-textField-input {
    -fx-text-fill: red;
}

.valid-textField-input {
    -fx-text-fill: black;
}

.button:hover {
    -fx-cursor: hand;
}

.check-box:hover {
    -fx-cursor: hand;
}



