@import url(Common.css);

#cardOverview {
    -fx-background: #808080;
    -fx-padding: 10;
    //this is only to see the cards a bit better
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* TODO fix the styling for when the title is disabled */
#title {
    -fx-background-color: #e6e6e6;
}

#deleteButton {
    -fx-background-color: #d3d3d3;
    -fx-border-style: none;
}

#deleteButton:hover {
    -fx-cursor: hand;
}

.vbox, .hbox {
    -fx-spacing: 10;
}

.flow-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.progress-bar .bar {
    -fx-background-color: #d6f6d5;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

#subtaskProgress > .track {
    -fx-background-color: #d8d8d8;
    -fx-background-insets: 0;
}