@import url(Common.css);

#cardOverview {
    -fx-background-color: -fx-color-background-light;
    -fx-padding: 10;
}

/* TODO fix the styling for when the title is disabled */
#title {
    -fx-background-color: -fx-color-background-light;
}

#deleteButton {
    -fx-background-color: -fx-color-background-light;
    -fx-border-style: none;
}

#deleteButton:hover {
    -fx-cursor: hand;
}

.vbox, .hbox {
    -fx-spacing: 10;
}

.flow-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.progress-bar .bar {
    -fx-background-color: -fx-color-foreground-accent;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

#subtaskProgress > .track {
    -fx-background-color: -fx-color-background-dark;
    -fx-background-insets: 0;
}